In [1]:
# @itsvenu_
# AutoEncoders

# data preprocessing steps are same 
# as in 
# https://github.com/itsvenu/MachineLearning-A2Z/blob/main/models/32_BoltzmannMachines/31_BoltzmannMachines.ipynb

In [2]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [3]:
movies = pd.read_csv('../../data-dl/ml-1m/movies.dat', 
                      sep = "::", header=None, engine='python',
                     encoding = 'latin-1')
movies.head()
# movie-name # genre

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
users = pd.read_csv('../../data-dl/ml-1m/users.dat', sep = "::", header=None, engine='python', encoding = 'latin-1')
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [5]:
ratings = pd.read_csv('../../data-dl/ml-1m/ratings.dat', sep = "::", header=None, engine='python', encoding = 'latin-1')
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [6]:
# change training data set from Boltzmann Machine
training_set = pd.read_csv('../../data-dl/ml-100k/u2.base', delimiter = '\t', header=None)
training_set.head()

   0  1  2          3
0  1  3  4  878542960
1  1  4  3  876893119
2  1  5  3  889751712
3  1  6  5  887431973
4  1  7  4  875071561

In [7]:
training_set = np.array(training_set, dtype='int')
type(training_set)

numpy.ndarray

In [8]:
test_set = pd.read_csv('../../data-dl/ml-100k/u2.test', delimiter = '\t', header=None)
test_set = np.array(test_set, dtype='int')
test_set[:5]

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         8,         1, 875072484],
       [        1,         9,         5, 878543541],
       [        1,        21,         1, 878542772]])

In [9]:
# get number of movies and users
# to prepare a matrix of rows-users; cols-movies; values-ratingsl
# if no rating from a user-i for movie-i, put 0

nb_users = int(max(max(training_set[:, 0]), max(test_set[:, 0]))) #max/total number of users
nb_movies = int(max(max(training_set[:, 1]), max(test_set[:, 1]))) # max/total number of movies

print(nb_users)
print(nb_movies)

943
1682

In [10]:
# list of lists
def convert(dat):
    
    new_dat = []
    for id_users in range(1, nb_users+1):
        id_movies = dat[:, 1][dat[:,0] == id_users]
        id_ratings = dat[:, 2][dat[:,0] == id_users]
        i_ratings = np.zeros(nb_movies)
        i_ratings[id_movies-1] = id_ratings
        new_dat.append(list(i_ratings))
    
    return(new_dat)

In [11]:
training_set = convert(training_set)
test_set = convert(test_set)

In [15]:
# make torch-tensors from the training/test dat

training_set = torch.FloatTensor(training_set)
training_set

tensor([[0., 0., 4.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [16]:
test_set = torch.FloatTensor(test_set)
test_set

tensor([[5., 3., 0.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [19]:
# architecture
# SAE - stacked auto encoders
# fc - full-connection

class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20) # first hidden layer
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
        
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        
        return(x)

In [21]:

sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [23]:
# train

nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            s += 1.
            optimizer.step()
            
    print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.6457)
epoch: 2loss: tensor(1.0967)
epoch: 3loss: tensor(1.0542)
epoch: 4loss: tensor(1.0393)
epoch: 5loss: tensor(1.0315)
epoch: 6loss: tensor(1.0268)
epoch: 7loss: tensor(1.0239)
epoch: 8loss: tensor(1.0224)
epoch: 9loss: tensor(1.0207)
epoch: 10loss: tensor(1.0198)
epoch: 11loss: tensor(1.0186)
epoch: 12loss: tensor(1.0184)
epoch: 13loss: tensor(1.0175)
epoch: 14loss: tensor(1.0175)
epoch: 15loss: tensor(1.0167)
epoch: 16loss: tensor(1.0168)
epoch: 17loss: tensor(1.0164)
epoch: 18loss: tensor(1.0165)
epoch: 19loss: tensor(1.0159)
epoch: 20loss: tensor(1.0163)
epoch: 21loss: tensor(1.0157)
epoch: 22loss: tensor(1.0159)
epoch: 23loss: tensor(1.0151)
epoch: 24loss: tensor(1.0156)
epoch: 25loss: tensor(1.0145)
epoch: 26loss: tensor(1.0130)
epoch: 27loss: tensor(1.0117)
epoch: 28loss: tensor(1.0100)
epoch: 29loss: tensor(1.0093)
epoch: 30loss: tensor(1.0057)
epoch: 31loss: tensor(1.0039)
epoch: 32loss: tensor(1.0000)
epoch: 33loss: tensor(0.9988)
epoch: 34loss: tensor(0.9955)
epoch: 35loss: tensor(0.9945)
epoch: 36loss: tensor(0.9911)
epoch: 37loss: tensor(0.9901)
epoch: 38loss: tensor(0.9848)
epoch: 39loss: tensor(0.9852)
epoch: 40loss: tensor(0.9814)
epoch: 41loss: tensor(0.9808)
epoch: 42loss: tensor(0.9774)
epoch: 43loss: tensor(0.9770)
epoch: 44loss: tensor(0.9735)
epoch: 45loss: tensor(0.9714)
epoch: 46loss: tensor(0.9686)
epoch: 47loss: tensor(0.9673)
epoch: 48loss: tensor(0.9646)
epoch: 49loss: tensor(0.9628)
epoch: 50loss: tensor(0.9608)
epoch: 51loss: tensor(0.9599)
epoch: 52loss: tensor(0.9577)
epoch: 53loss: tensor(0.9561)
epoch: 54loss: tensor(0.9547)
epoch: 55loss: tensor(0.9544)
epoch: 56loss: tensor(0.9525)
epoch: 57loss: tensor(0.9519)
epoch: 58loss: tensor(0.9498)
epoch: 59loss: tensor(0.9498)
epoch: 60loss: tensor(0.9481)
epoch: 61loss: tensor(0.9473)
epoch: 62loss: tensor(0.9461)
epoch: 63loss: tensor(0.9464)
epoch: 64loss: tensor(0.9450)
epoch: 65loss: tensor(0.9447)
epoch: 66loss: tensor(0.9427)
epoch: 67loss: tensor(0.9430)
epoch: 68loss: tensor(0.9420)
epoch: 69loss: tensor(0.9423)
epoch: 70loss: tensor(0.9406)
epoch: 71loss: tensor(0.9405)
epoch: 72loss: tensor(0.9392)
epoch: 73loss: tensor(0.9396)
epoch: 74loss: tensor(0.9384)
epoch: 75loss: tensor(0.9384)
epoch: 76loss: tensor(0.9375)
epoch: 77loss: tensor(0.9376)
epoch: 78loss: tensor(0.9373)
epoch: 79loss: tensor(0.9378)
epoch: 80loss: tensor(0.9358)
epoch: 81loss: tensor(0.9357)
epoch: 82loss: tensor(0.9350)
epoch: 83loss: tensor(0.9351)
epoch: 84loss: tensor(0.9341)
epoch: 85loss: tensor(0.9346)
epoch: 86loss: tensor(0.9332)
epoch: 87loss: tensor(0.9335)
epoch: 88loss: tensor(0.9325)
epoch: 89loss: tensor(0.9328)
epoch: 90loss: tensor(0.9318)
epoch: 91loss: tensor(0.9322)
epoch: 92loss: tensor(0.9310)
epoch: 93loss: tensor(0.9314)
epoch: 94loss: tensor(0.9305)
epoch: 95loss: tensor(0.9306)
epoch: 96loss: tensor(0.9296)
epoch: 97loss: tensor(0.9299)
epoch: 98loss: tensor(0.9291)
epoch: 99loss: tensor(0.9293)
epoch: 100loss: tensor(0.9286)
epoch: 101loss: tensor(0.9287)
epoch: 102loss: tensor(0.9278)
epoch: 103loss: tensor(0.9278)
epoch: 104loss: tensor(0.9271)
epoch: 105loss: tensor(0.9271)
epoch: 106loss: tensor(0.9265)
epoch: 107loss: tensor(0.9264)
epoch: 108loss: tensor(0.9259)
epoch: 109loss: tensor(0.9257)
epoch: 110loss: tensor(0.9252)
epoch: 111loss: tensor(0.9249)
epoch: 112loss: tensor(0.9244)
epoch: 113loss: tensor(0.9243)
epoch: 114loss: tensor(0.9240)
epoch: 115loss: tensor(0.9238)
epoch: 116loss: tensor(0.9233)
epoch: 117loss: tensor(0.9231)
epoch: 118loss: tensor(0.9228)
epoch: 119loss: tensor(0.9225)
epoch: 120loss: tensor(0.9219)
epoch: 121loss: tensor(0.9219)
epoch: 122loss: tensor(0.9214)
epoch: 123loss: tensor(0.9211)
epoch: 124loss: tensor(0.9208)
epoch: 125loss: tensor(0.9206)
epoch: 126loss: tensor(0.9202)
epoch: 127loss: tensor(0.9201)
epoch: 128loss: tensor(0.9197)
epoch: 129loss: tensor(0.9195)
epoch: 130loss: tensor(0.9193)
epoch: 131loss: tensor(0.9190)
epoch: 132loss: tensor(0.9186)
epoch: 133loss: tensor(0.9186)
epoch: 134loss: tensor(0.9181)
epoch: 135loss: tensor(0.9181)
epoch: 136loss: tensor(0.9176)
epoch: 137loss: tensor(0.9175)
epoch: 138loss: tensor(0.9172)
epoch: 139loss: tensor(0.9173)
epoch: 140loss: tensor(0.9167)
epoch: 141loss: tensor(0.9168)
epoch: 142loss: tensor(0.9164)
epoch: 143loss: tensor(0.9162)
epoch: 144loss: tensor(0.9158)
epoch: 145loss: tensor(0.9160)
epoch: 146loss: tensor(0.9156)
epoch: 147loss: tensor(0.9155)
epoch: 148loss: tensor(0.9151)
epoch: 149loss: tensor(0.9153)
epoch: 150loss: tensor(0.9147)
epoch: 151loss: tensor(0.9148)
epoch: 152loss: tensor(0.9144)
epoch: 153loss: tensor(0.9144)
epoch: 154loss: tensor(0.9140)
epoch: 155loss: tensor(0.9141)
epoch: 156loss: tensor(0.9136)
epoch: 157loss: tensor(0.9137)
epoch: 158loss: tensor(0.9134)
epoch: 159loss: tensor(0.9135)
epoch: 160loss: tensor(0.9131)
epoch: 161loss: tensor(0.9132)
epoch: 162loss: tensor(0.9129)
epoch: 163loss: tensor(0.9129)
epoch: 164loss: tensor(0.9125)
epoch: 165loss: tensor(0.9126)
epoch: 166loss: tensor(0.9122)
epoch: 167loss: tensor(0.9122)
epoch: 168loss: tensor(0.9119)
epoch: 169loss: tensor(0.9119)
epoch: 170loss: tensor(0.9115)
epoch: 171loss: tensor(0.9116)
epoch: 172loss: tensor(0.9111)
epoch: 173loss: tensor(0.9115)
epoch: 174loss: tensor(0.9109)
epoch: 175loss: tensor(0.9110)
epoch: 176loss: tensor(0.9106)
epoch: 177loss: tensor(0.9109)
epoch: 178loss: tensor(0.9104)
epoch: 179loss: tensor(0.9106)
epoch: 180loss: tensor(0.9100)
epoch: 181loss: tensor(0.9103)
epoch: 182loss: tensor(0.9099)
epoch: 183loss: tensor(0.9101)
epoch: 184loss: tensor(0.9097)
epoch: 185loss: tensor(0.9099)
epoch: 186loss: tensor(0.9094)
epoch: 187loss: tensor(0.9096)
epoch: 188loss: tensor(0.9091)
epoch: 189loss: tensor(0.9092)
epoch: 190loss: tensor(0.9089)
epoch: 191loss: tensor(0.9090)
epoch: 192loss: tensor(0.9086)
epoch: 193loss: tensor(0.9088)
epoch: 194loss: tensor(0.9084)
epoch: 195loss: tensor(0.9085)
epoch: 196loss: tensor(0.9082)
epoch: 197loss: tensor(0.9083)
epoch: 198loss: tensor(0.9078)
epoch: 199loss: tensor(0.9080)
epoch: 200loss: tensor(0.9075)

In [25]:
# testing

test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9533)